<p id="notice"><%= notice %></p>

<p>
  Title:
  <%= @schedule.title %>
  Picture:
  <%= image_tag @schedule.photo_url %>
  Completed:
  
</p>

<%= link_to 'Edit', edit_user_schedule_path(@user, @schedule) %> |
<%= link_to 'Back', :back %>
