<p id="notice"><%= notice %></p>
<body class="text-center">
<table class="table table condensed">
  <thead>
  	<tr class="text-center">
  		<th class='text-center' style="font-size:20px">I need to...</th>
  	</tr>
  </thead>

  <tbody>
  	<tr>
  	<td class="text-center" style="font-size:40px" ><%= @schedule.title %></td>
 
    <td class="text-center"><%= image_tag @schedule.photo_url, size: "300x300" %></td>
</tr>
</tbody>
</table>

<button class="btn btn-lg btn-primary"><%= link_to 'Edit', edit_user_schedule_path(@user, @schedule) %> </button>
<button class="btn btn-lg btn-primary"><%= link_to 'Back', :back %></button>


</body>